$brand-primary: $dark-blue;
$brand-success: $green;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 12px;

$padding-base-vertical: 10px;
$padding-base-horizontal: 15px;
$padding-large-vertical: 15px;
$padding-large-horizontal: 20px;

$navbar-inverse-bg: $brand-primary;

$panel-padding-heading: 30px 20px;
$panel-padding-body: 20px;
$panel-inner-border: transparent;
$panel-default-border: rgba(0, 0, 0, .18);