$brand-primary: $dark-blue;
$brand-success: $green;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;

$padding-base-vertical: 15px;
$padding-base-horizontal: 15px;

$navbar-inverse-bg: $brand-primary;